<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script type="text/javascript" src="../js/login.js"></script>
</head>
<body>
<form action="/login" method="post">
        <span>账号:</span>
        <input class="account" type="text" name="account" value="" />
        <br>
        <span>密码:</span>
        <input class="pwd" type="password" name="password" value="" />
        <br>
        <input class="btn" type="submit" value="Login" />
    </form>
</body>
</html>