<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../css/registered.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/registered.js"></script>
</head>
<body>
    <form id="formData" action="registered">
        <table>
            <tr>
                <td><span>账号</span></td>
                <td><input type="text" name="account" /></td>
            </tr>
            <tr>
                <td><span>密码</span></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td><span>姓名</span></td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td><span>性别</span></td>
                <td><input type="radio" name="sex" value="1" />男<input type="radio" name="sex" value="0" />女</td>
            </tr>
            <tr>
                <td><span>地址</span></td>
                <td><input type="text" name="addr" /></td>
            </tr>
            <tr>
                <td><span>邮箱</span></td>
                <td><input type="email" name="email" /></td>
            </tr>
        </table>
        <input id="registered" type="submit" value="注册" />
        <input type="reset" value="重置" />
    </form>
</body>
</html>